<div id="team-row">
  <div class="table" style="padding:0px 50px;">
      <ul id="team-list">
          <li><img src="/assets/images/people/flo_small.png" alt="Florian Heigwer"><figcaption> Florian Heigwer </figcaption>
            <p> </p>
            <p>Computational Biology</p>
            <p>Cloud Computing</p>
            <p>Machine Learning</p>
            <a href="https://twitter.com/{{ site.twitter_username_fh }}" target = "blank_"><i class="fa fa-twitter"></i></a>
            <a href="https://scholar.google.com/citations?user={{ site.google_username_fh }}"><i class="fa fa-google"></i></a>
            <a href="https://linkedin.com/in/{{ site.linkedin_username_fh }}"><i class="fa fa-linkedin"></i></a>
          </li> 
          <li><img src="/assets/images/people/chris_small.png" alt="Christian Scheeder"><figcaption> Christian Scheeder </figcaption>
            <p> </p>
            <p>Computational Biology</p>
            <p>Machine Learning</p>
            <p>High Throughput Assays</p>
            <a href="https://twitter.com/{{ site.twitter_username_cs }}"><i class="fa fa-twitter"></i></a> 
          </li> 
          <li><img src="/assets/images/people/thilo_new_small.png" alt="Thilo Miersch"><figcaption> Thilo Miersch </figcaption>
          <p> </p>
          <p>Assay Development</p>
          <p>Automation</p>
          <p>Robotics</p>
          <a href="https://linkedin.com/in/{{ site.linkedin_username_tm }}"><i class="fa fa-linkedin"></i></a>
          </li>  
          <li><img src="/assets/images/people/michael_small.png" alt="Michael Boutros"><figcaption> Michael Boutros </figcaption>
            <p> </p>
            <p>Management</p>
            <p>Functional Genomics</p>
            <p>Computational Biology</p>
            <a href="https://twitter.com/{{ site.twitter_username_mb }}"><i class="fa fa-twitter"></i></a> 
             <a href="https://scholar.google.com/citations?user={{ site.google_username_mb }}"><i class="fa fa-google"></i></a>
          </li> 
      </ul>
  </div>
</div>
