<div id="team-row">
  <div class="table" style="padding:0px 50px;overflow-x:auto;">
      <ul id="team-list">
          <li><img src="/assets/images/people/flo_small.png" alt="Florian Heigwer"><figcaption> Florian Heigwer </figcaption>
            <p>Systems Biologist</p>
            <a href="https://twitter.com/{{ site.twitter_username_fh }}"><i class="fa fa-twitter"></i></a> 
          </li> 
          <li><img src="/assets/images/people/chris_small.png" alt="Christian Scheeder"><figcaption> Christian Scheeder </figcaption>
            <p>Systems Biologist</p>
            <a href="https://twitter.com/{{ site.twitter_username_cs }}"><i class="fa fa-twitter"></i></a> 
          </li> 
          <li><img src="/assets/images/people/thilo_new_small.png" alt="Thilo Miersch"><figcaption> Thilo Miersch </figcaption>
          <p>Bioenigneer</p>
          </li>  
          <li><img src="/assets/images/people/chris_small.png" alt="Christian Scheeder"><figcaption> Christian Scheeder </figcaption>
            <p>Principal Investigator</p>
            <a href="https://twitter.com/{{ site.twitter_username_cs }}"><i class="fa fa-twitter"></i></a> 
          </li> 
      </ul>
  </div>
</div>
