<div id="team-row">
  <div class="table" style="margin-right:50px;margin-left:50px">
      <ul id="team-list">
          <li><img src="/assets/images/people/flo_small.png" alt="Florian Heigwer" ></li> 
          <li><img src="/assets/images/people/chris_small.png" alt="Christian Scheeder" ></li> 
          <li><img src="/assets/images/people/thilo_new_small.png" alt="Thilo" ></li> 
          <li><img src="/assets/images/people/flo_small.png" alt="Florian Heigwer" ></li> 
      </ul>
  </div>
</div>
